/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/*-------Reset ends here--------*/


/*
    =========================================
            Box Layout
    =========================================
*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    color: #888;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/*
    =========================================
            Grids
    =========================================
*/

.column-1-3 {
    width: 30%;
}

.column-2-3 {
    width: 60%;
}

.col-1-3,
.col-2-3 {
    display: inline-block;
    vertical-align: top;
}

.grid,
.col-1-3,
.col-2-3 {
    padding-left: 15px;
    padding-right: 15px;
}


/*
    =========================================
                Styling page logo 
    =========================================
*/

.stack-logo {
    padding-bottom: 10px;
    border-radius: 10px;
    float: left;
}

.stack-logo:hover {
    border: 2px solid #648880;
}

.stack-logo img {
    padding-bottom: 5px;
    height: 60px;
}


/*
    =========================================
                Navigation
    =========================================
*/

.navig {
    padding-top: 20px;
    text-align: right;
}

.navig li {
    display: inline-block;
    margin: 0 10px;
    vertical-align: top;
}

.navig li:last-child {
    margin-right: 10px;
}

.search-btn {
    border-radius: 5px;
    display: inline-block;
    color: #648880;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: .5px;
}

.search-btn-alt {
    border: 1px solid #fff;
    background: #FBEEC1;
    padding: 5px 10px;
}

.search-btn-alt:hover {
    background: #ccc;
    color: #648880;
}

.search-box {
    border-radius: 5px;
    padding: 5px 10px;
    color: #888888;
    box-sizing: border-box;
    border: 2px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.search-box:focus {
    border: 2px solid #555;
}


/*
    =========================================
                Header section
    =========================================
*/

.head-div {
    background: -webkit-linear-gradient(to right, #DAAD86, #FBEEC1);
    background: -moz-linear-gradient(to right, #DAAD86, #FBEEC1);
    background: linear-gradient(to right, #DAAD86, #FBEEC1);
    height: 80px;
    width: 100%;
    box-shadow: 0px 5px 2px #888888;
}


/*
    =========================================
                Footer section
    =========================================
*/

.footer-div {
    background: -webkit-linear-gradient(to right, #DAAD86, #FBEEC1);
    background: -moz-linear-gradient(to right, #DAAD86, #FBEEC1);
    background: linear-gradient(to right, #DAAD86, #FBEEC1);
    height: 80px;
    box-shadow: 0px -5px 2px #888888;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 0;
}

.footer-manenos {
    padding-top: 20px;
}


/*
    =========================================
                Typography
    =========================================
*/

h6 {
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
}


/*
    =========================================
                links
    =========================================
*/

a {
    color: #648880;
    text-decoration: none;
}

a:hover {
    color: #a9b2b9;
}


/*
  ============================================
                Home
  ============================================
*/

.row {
    width: 100%;
    padding-top: 50px;
}

.hero {
    color: chocolate;
    background: rgba(178, 126, 35, 0.3);
    border-radius: 10px;
    margin-left: 10px;
    line-height: 44px;
    padding: 33px 80px 66px 80px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
}

.hero p {
    font-size: 24px;
    font-weight: 100;
}

.btn {
    border-radius: 5px;
    display: inline-block;
    margin: 0;
    color: #fff;
    cursor: pointer;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
}

.btn-alt {
    border: 1px solid #fff;
    padding: 10px 30px;
}

.btn-alt:hover {
    background: #fff;
    color: #648880;
}

.btn-default {
    border: 0;
    background: rgba(178, 126, 35, 0.5);
    padding: 11px 30px;
    font-size: 14px;
}

.btn-default:hover {
    background: #77a198;
}


/*
  ============================================
                Clearfix
  ============================================    
*/

.group:before,
.group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}


/*
  ========================================
  Register
  ========================================
*/

form {
    margin-bottom: 30px;
}

.section1 {
    display: block;
    float: left;
}

.section2 {
    display: block;
    float: right;
    margin-right: 15px;
}

input {
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.register-group label {
    color: #648880;
    cursor: pointer;
    font-weight: 400;
}

.register-group input {
    border: 1px solid #c6c9cc;
    border-radius: 5px;
    color: #888;
    display: block;
    margin: 5px 0 3px 0;
    padding: 5px 8px;
}

.register-group input {
    width: 100%;
}